extends partials/layout.pug

block content
    article.terminal
        section.output
            if message
                pre.out #{message}
            if prompt
                pre.cmd > #{prompt}
            if output
                pre.out #{output}
        form.game(action='/', method='post')
            if convo
                label - 
            else 
                label > 
            input.prompt(name='prompt', autofocus='true', autocomplete='off')
            input(type='hidden', name='message', value=message)
    
    script.
        const APP_NAME = '#{appName}'
    script(src='/game.js')